html{ color: #555; word-wrap: break-word; width:100%; height: 100%; }
body { background: #eee; -webkit-font-smoothing: antialiased; width:100%; height: 100%;}

* { margin:0;padding:0;border:0; }

ol, ul, li {list-style: none;}

table {border-collapse: collapse;border-spacing: 0;}

img {max-width: 100%;height: auto;border: 0;}

a {display: inline-block; text-decoration: none; color: #555;}
a:hover, a:focus, a:active {text-decoration: underline; list-style: none;}
a:visited {color: #555;}

button {border:0;background: transparent;cursor: pointer;}
::-webkit-scrollbar {display:none;}