.header { display: flex; height: 8vh; background-color: teal; width: 100%;}

.header-logo { text-align: center; margin: auto 0 auto 6rem; padding-top: auto; padding-bottom: auto; font-size: 1.2rem;}
.header-logo > a, .header-nav-item > a {color:wheat}
.header-crown {color:tomato}

.header-nav {margin: auto 6rem auto auto;}
.header-nav button {color: whitesmoke}
.header-nav-items { display: flex; justify-content: space-between ; width: 14rem; font-size: 1rem;}
.header-div {color: whitesmoke}

#nav-for-member .header-nav-items { width: 20rem;}


.footer {display: flex; height: 9vh; width:100%;}

.footer-items { height: 5rem; width: 100%; margin-top: auto; padding-top: 0.5rem; padding: auto; background-color: teal; text-align: center;}
.footer-logo { font-size: 1rem;}
.footer-logo > a { color:wheat }
.footer-rights { font-size: 0.6rem; margin-top: 0.2rem; color: whitesmoke;}