<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/lecture-info.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    
    <title>강의정보</title>
</head>
<body>
    <header class="header">
        <h1 class="header-logo"><a href="/"><span>Code <br>T<span class="header-crown">♔</span>gether</span></a></h1>
        {% if not name %}
        <nav class="header-nav" id="nav-for-normal">

            <ul class="header-nav-items">
                <li class="header-nav-item"><button onclick="location.href='/'">HOME</button></li>
                <span class="header-div">❙</span>
                <li class="header-nav-item"><button onclick="location.href='/subjects/'">LECTURE</button></li>
                <span class="header-div">❙</span>
                <li class="header-nav-item"><button onclick="location.href='/accounts/signup/'">SIGN UP<button></li>
            </ul>

        </nav>
        {% endif %}
        {% if name %}
        <nav class="header-nav" id="nav-for-member">

            <ul class="header-nav-items">
                <li class="header-nav-item"><button onclick="location.href='/'">HOME</button></li>
                <span class="header-div">❙</span>
                <li class="header-nav-item"><button onclick="location.href='/subjects/'">LECTURE</button></li>
                <span class="header-div">❙</span>
                <li class="header-nav-item"><button onclick="location.href='/accounts/'">MYPAGE</button></li>
                <span class="header-div">❙</span>
                <li class="header-nav-item"><button id="logOut" onclick="location.href='/accounts/logout/'">LOG OUT<button></li>

            </ul>

        </nav>
        {% endif %}
    </header>
    <section class="lecture-info-entire">
        <div class="lecture-info-container">

            <div class="lecture-info-items">
                <div class="lecture-info-item">
                    <div class="lecture-info-card">
                        <div class="lecture-photo-box">
                            <img class="lecture-photo" src="{{ subject.sub_image.url }}">
                        </div>
                        <div class="lecture-info-price">
                            <div>강의료: <span id="lecture-info-price">{{ subject.price|intcomma }}</span><span><i class="fas fa-grin-hearts"></i></span><span><i class="fas fa-shopping-basket"></i></span></div>
                            {% if mysubject %}
                            <form id="paymentBtn" action="{{ subject.get_absolute_url }}lecture/" method="get">
                                <button type="submit">{{ mysubject }}</button>
                                </form>
                            {% else %}
                            <form id="paymentBtn" action="{{ subject.get_absolute_url }}pay/" method="post">
                                <button id="payBtn" type="submit">결제하기</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="lecture-info-items">               
                <div class="lecture-info-item">
                    <div class="lecture-info-subitem">
                        <h3><span><i class="fas fa-info-circle"></i></span> 강사정보</h3>
                        <div>
                            <ul>
                                <li class="lecture-info-subinfo"><i class="fas fa-paperclip"></i> 강사명:</li>
                                <li id="lecture-info-nameT">{{ subject.teacher.name }}</li>
                            </ul>
                            <ul>
                                <li class="lecture-info-subinfo"><i class="fas fa-paperclip"></i> 강사소개:</li>
                                <li id="lecture-info-descT">{{ subject.teacher.introduce }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="lecture-info-item">
                    <div class="lecture-info-subitem">
                        <h3><span><i class="fas fa-info-circle"></i></span> 강의정보</h3>
                        <ul>
                            <li class="lecture-info-subinfo"><i class="fas fa-paperclip"></i> 강의명: </li><span id="lecture-info-titleL">{{ subject.name }}</span>
                            <div class="lecture-info-spac">
                                <li class="lecture-info-subinfo"><i class="fas fa-keyboard"></i> 언  어: </li>
                                <span id="lecture-info-lagL">{{ subject.language }}</span>
                                <li class="lecture-info-subinfo"><i class="fas fa-award"></i> 난이도: </li>
                                <span id="lecture-info-levelL">{{ subject.difficulty }}</span>
                            </div>
                        </ul>
                        <ul>
                            <li class="lecture-info-subinfo"><i class="fas fa-paperclip"></i> 강의소개:</li>
                            <li>{{ subject.description }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lecture-info-item">
                    <div class="lecture-info-subitem">
                        <h3><span><i class="fas fa-info-circle"></i></span> 교육과정</h3>
                        <ul>
                            {% for url in video %}
                            <li class="lecture-info-subinfo">{{ forloop.counter }}강: <span class="curriculum-title">{{ url.sub_video_name }}</span></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="modal-container">
        <div class="modal" id="payment-modal-notice">
            <div class="notice payment" id = "paymentModal">
                <div id="exitBtn">❌</div>
                <h1 class="modal-title">결제 금액을 입력하세요</h1>
                <div>
                    <input type="text" id="inputPrice" placeholder="예) 20000">
                    <button id="priceBtn">결제</button>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
    <div class="footer-items">
        <h1 class="footer-logo"><a href="#"><span>Code <br>T<span class="footer-crown">♔</span>gether</span></a></h1>
        <div class="footer-rights">© CodeT♔gether ALL RIGHTS RESERVED</div>
    </div></footer>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/subjectDetail.js' %}" type="module"></script>
</html>